* {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: blue;
  color: #fff;
  width: 75px;
  padding: 8px;
  border-radius: 4px;
}

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  height: 24px;
  border-radius: 4px;
  border: 1px solid black;
}
.error {
  font-size: 14px;
  color: red;
}
