<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pie Chart</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <div class="canvas"></div>
      <button class=".add">Add</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
    <script src="./src/data.js"></script>
    <script src="./src/graph.js"></script>
    <script src="./src/update.js"></script>
    <script src="./src/index.js"></script>
  </body>
</html>
