div {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
}
